<h1><%= t('.access_by_pincode_only') %></h1>
<h5><%= t('.user_set_restriction') %></h5>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label :pincode, t('.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('.check_pin'), class: 'btn btn-info mb-3' %>
  </div>
<% end %>

<%= link_to t('.to_home'), events_path %>
