<div class="event">
  <div class="event-info row mb-3 pt-1">
    <div class="col-md-12">
        <div class="event-info-inner row">
          <div class="col-md-12">
            <div class="event-description">
              <h1><%= @event.title %></h1>
              <h3><%= l @event.datetime, format: :short %></h3>
              <h3><small><%= link_to @event.address,
                                     "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
              <p><%= @event.description %></p>
            </div>

            <% if current_user_can_edit?(@event) %>
              <div class="buffer-both">
                <%= link_to t('events.edit.edit_event'), edit_event_path(@event),
                            class: 'btn btn-info' %>
              </div>
              <div class="buffer-both">
                <%= link_to t('events.destroy.destroy_event'), event_path(@event), method: :delete,
                data: {confirm: t('events.destroy.are_you_sure')}, class: 'btn btn-danger'%>
              </div>
            <% end %>
          </div> <!--col-md-6 -->
        </div> <!-- row -->
    </div> <!--col-md-12 -->
  </div> <!--event-info row -->

  <div class=" event-info row pt-3 pb-3">
    <div class="col-md-8">
      <div class="event-comments buffer-top">
        <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>
        <div class="buffer-both">
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-owner">
        <h5><%= t('.who_invites') %></h5>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <% if @event.subscriptions.except(@new_subscription).count > 0 %>
          <h5><%= t(".who's_coming") %></h5>
        <% else %>
          <h5><%= t(".nobody's_coming_yet") %></h5>
        <% end %>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription', collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <% unless @event.user == current_user%>
        <div class="event-subscription-form">
          <h5><%= t('.i_will_go') %>:</h5>
          <div>
            <%= render partial: 'subscriptions/form', locals: { subscription: @new_subscription || @event.subscriptions.build } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
