<div class="event-form-wrapper d-flex flex-column-reverse">
  <%= form_for [@event, subscription] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

    <% unless user_signed_in? %>
      <div class="form-group">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :user_email %>
        <%= f.text_field :user_email, class: 'form-control' %>
      </div>
    <% end %>

    <%= f.submit t('subscriptions.subscription.subscribe'), class: 'btn btn-info float-md-right' %>

    <%= recaptcha_execute('checkout') %>
  <% end %>
</div>
